<h1>Profile page !</h1>

<p>Welcome <%= current_user.email %> !</p>

  <%= link_to "New Game", new_game_path, class:"btn btn-success"%>
  <%= link_to "Load Game", root_path, class:"btn btn-success"%>
