<h1>Partie en cours</h1>
<%= @game.gold %>
<%= link_to "Black Jack", game_blackjack_path(@game), class:"btn btn-success"%>
<%= link_to "Roulette", game_roulette_path(@game), class:"btn btn-success"%>
<%= link_to "Poker Texas hold em", game_poker_path(@game), class:"btn btn-success"%>
